# Extension ignored
*.o
*.a
.vscode
*.txt
*.log
*.zig
*.zon
*.ini

# Directory ignored
zig

# File ignored
coding-style*
vgcore*
unit-test*
unit-tests
project
a.out

# Executable ignored
pbrain-gomoku-ai
